/flask_databrowser/.ropeproject/config.py
/flask_databrowser/.ropeproject/globalnames
/flask_databrowser/.ropeproject/history
/flask_databrowser/.ropeproject/objectdb
*.py[cod]
/flask_databrowser/example/temp.db

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.*.swp
.Session.vim
.*~
[Tt]ags
