{% extends "__data_browser__/layout_mob.html" %}
{% block __data_browser__builtin_head_block %}
  <script type="text/javascript">
    $(document).bind('pageshow', function () {
      $("div:jqmData(role='popup')").popup("open");
    });
  </script>
{% endblock %}
{% block body %}
  <div>
    <div data-role="header" data-theme="a" class="ui-corner-top">
      <h1>{{ _("Error") }}!</h1>
    </div>
    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
      <h3 class="ui-title">{{ hint_message }}</h3>
      <a data-role="button" data-inline="true" data-theme="b" data-icon="back" href="{{ back_url }}">{{ _("back") }}</a>
    </div>
  </div>
{% endblock %}
