-extends "__data_browser__/layout.haml"
-import '__data_browser__/macro.html' as lib with context

        
-block body
  -block __data_browser__hint_block
    -if hint_message
      .alert.alert-info
        * {{ hint_message }}
  %div.container
    =lib.render_form(form, return_url, extra)

-block __data_browser__builtin_head_block
  %script type="text/javascript"
    $(function(){
      -if grouper_info
        grouper_info = {{ grouper_info|tojson|safe }};
        for (var grouper_name in grouper_info) {
          var grouper_e = $('[name="' + grouper_name + '"]');
          var input_e = $('[name="' + grouper_name.split(".")[0] + '"]');

          grouper_e.change((function (grouper_e, input_e) {
            return function(ui) {
              input_e.empty();
              $.each(grouper_info[grouper_e.attr("name")][grouper_e.val()], function (idx, entry) {
                input_e.append('<option value="' + entry.id + '">' + entry.text + "</option>");
              });
              input_e.select2()
            }
              })(grouper_e, input_e))
        }
      $("input[name='action']").click(function (ui) {
        -if h.is_batch_edit()
          return confirm(sprintf("{{ _('Are you sure to %%s these items?') }}", $(this).attr("value"))); 
        -else
          return confirm(sprintf("{{ _('Are you sure to %%s this item?') }}", $(this).attr("value"))); 
      });
      setTimeout(function () {
          $("#flash").fadeOut("slow")
      }, 3000);
      $("input").keypress(function () {
        $("input#submit-btn").attr("disabled", false).attr("title", "");
      });
      $("input[name!='hold_value'], select").change(function () {
        $("input#submit-btn").attr("disabled", false).attr("title", "");
      });
      $("input[type=reset]").click(function () {
        $(this).parents('form')[0].reset();
        $("select").trigger("change");
        $("input#submit-btn").attr("disabled", true);
        return false;
      });
      $("a[data-role=new-related-obj]").click(function() {
        var win = window.open($(this).attr('href'), $(this).attr('data-target')); 
        win.focus();
        return false;
      });
    });
