-extends "__data_browser__/layout.haml"
-import '__data_browser__/macro.html' as lib with context

        
-block body
  -block __data_browser__hint_block
      -if hint_message
        .alert.alert-info
          * {{ hint_message }}
  %div.container
    =lib.render_form(form, return_url, extra)

-block __data_browser__builtin_head_block
  %script type="text/javascript"
    $(function(){
      -if grouper_info
        grouper_info = {{ grouper_info|tojson|safe }};
        for (var grouper_name in grouper_info) {
          var grouper_e = $('[name="' + grouper_name + '"]');
          var input_e = $('[name="' + grouper_name.split(".")[0] + '"]');

          grouper_e.change((function (grouper_e, input_e) {
            return function(ui) {
              input_e.empty();
              $.each(grouper_info[grouper_e.attr("name")][grouper_e.val()], function (idx, entry) {
                input_e.append('<option value="' + entry.id + '">' + entry.text + "</option>");
              });
              input_e.select2()
            }
              })(grouper_e, input_e))
        }
      -if request.args.get("preview") == 'True'
        $("input").attr("disabled", true);
        $("select").select2("disable").attr("disabled", true);
      $("input[name='action']").click(function (ui) {
        return confirm('您确认要' + $(this).attr("value") + '本条数据吗?'); 
      });
      setTimeout(function () {
          $("#flash").fadeOut("slow")
      }, 3000);

    });
  

