-extends "__data_browser__/layout.haml"
-import '__data_browser__/macro.html' as lib with context
-block body
  %div.container
    =lib.render_form(form, return_url, extra)

-block __data_browser__custom_external_block
  %script
    -if request.args.get("preview") == 'True'
      $(function(){
      $("input").attr("disabled", true);
      $("select").select2("disable").attr("disabled", true);
      });
