-macro render_pagination(pagination)
  %div.pagination
    %ul
      %li class="{% if not pagination.has_prev %}disabled{% endif %}"
        %a href="{{ url_for_other_page(page=page-1 if page else 1) }}" << {{ _("上一页") }}
      -for page in pagination.iter_pages()
        %li class="{% if page == pagination.page %}active{% endif %}"
          %a href="{{ url_for_other_page(page=page) }}" << {{ page }}

