-macro render_pagination(pagination, __count__)
  %div.pagination
    %ul
      -if not pagination.has_prev:
        %li class="disabled"
          %a << {{ _("上一页") }}
      -else:
        %li
          %a href="{{ url_for_other_page(page=pagination.page-1 if pagination.page > 1 else 1) }}" << {{ _("上一页") }}

      -for page in pagination.iter_pages()
        -if page
          %li class="{% if page == pagination.page %}active{% endif %}"
            %a href="{{ url_for_other_page(page=page) }}" << {{ page }}
        -else
          %li class="disabled"
           %a << ...

      -if __count__:
        %li class="disabled"
          %a << {{ _("符合条件的记录共%(count)d条", count=__count__) }}
