-extends "__data_browser__/layout.haml"


-block __data_browser__custom_external_block

 %script
   $(function(){
     $("select").select2();
     -for filter in __filters__:
        $("[name='{{ filter.op.id }}']").val('{{ filter.value }}').trigger("change");
     $("input[name=rowtoggle]").click(function () {
       if ($(this).attr('checked')) {
         $("#list-table tbody input[type=checkbox]").attr("checked", "checked");
       } else {
         $("#list-table tbody input[type=checkbox]").removeAttr("checked");
       }
     });
     $("#main-form #actions input[name=action]").click(function(){
         var list_val = "";
         $("#list-table tbody input[type=checkbox]:checked").each(function(){
           list_val += $(this).val() +",";
         });
         if (list_val == ""){
             alert("{{ _("请至少选择一条记录！") }}");
             return false;
         }
         if ($(this).val() == "{{ _('批量修改') }}"){
             $("#main-form").attr("method", "GET");
             $("#main-form").attr("action", "{{ __object_url__ }}/"+ list_val);
         }
         return confirm("您确认要" + $(this).val() + "选中的记录?");
     });
     $("#reset-button").click(function(){
      $("select").select2("val","");
     });
     -if __action_list__:
       var action_list = {{ __action_list__ | tojson | safe }}
       $("input[type='checkbox']").click(function () {
         var invalid_list = []
         tooltip = ""
         $("#list-table tbody input[type=checkbox]:checked").each(function () {
           for (i = 0; i < action_list.length; i++) {
             if ($(this).val() == action_list[i].id) {
               for (j = 0; j < action_list[i].actions.length; j++) {
                 name = action_list[i].actions[j].name
                   if (!action_list[i].actions[j].enabled) {
                     tooltip += action_list[i].actions[j].disabled_tooltip +"\n";
                     if ($.inArray(name, invalid_list) == -1) {
                       invalid_list.push(name);
                     }
                   }
               }
             }
           }
         })
         $("input[name=action]").each(function () {
           if ($.inArray($(this).val(), invalid_list) != -1) {
             $(this).attr("disabled", true);
             $(this).attr("title", tooltip);
           } else {
             $(this).attr("disabled", false);
           }
         });
       });
       setTimeout(function () {
           $("#flash").fadeOut("slow")
       }, 3000);
   });


-block body
  
  .container-fluid
    .row-fluid
      -block lists
        %form.span10#main-form method="POST"
          -if __can_create__
            %a.btn.btn-success href="{{ "?url=".join([__object_url__, request.url|urlencode]) }}"
              %span.add-on.icon-plus
              {{ _("新建") }}
          -if __data__
            %table#list-table class="{{ __css_classes__.list_table_class }}"
              %thead
                %tr.row-fluid
                  -if __actions__
                    %th.span1 -> %input type="checkbox" name="rowtoggle"
                  -for c in __list_columns__
                    %th title={% if c.doc %} {{c.doc}} {% endif %}
                      -if c.sort_url
                        %a href="{{ c.sort_url }}"
                          {{ c.label }}
                          -if __order_by__(c.name) 
                            -if __desc__
                              %i class="icon-chevron-down"
                            -else
                              %i class="icon-chevron-up"
                      -else
                        {{ c.label }}
              %tbody
                -for row in __data__
                  %tr class="{{row.css}} row-fluid"
                    -if __actions__
                      %td.span1 -> %input type="checkbox" value="{{ row.pk }}" name="selected-ids"
                    -for v in row.fields:
                      -if v.link
                        %td -> %a href="{{ v.link }}" << {{ v.value }}
                      -else
                        %td << {{ v }}
          -else
            %p.text-error << {{ _("没有符合条件的结果") }}

          -from "__data_browser__/lib.haml" import render_pagination 
          {{ render_pagination(__pagination__, __count__) }}

          -block actions
            .alert.alert-block
              %input value="{{ request.url }}" type="hidden" name="url"
              %span#actions
                -for action in __actions__:
                  %input value="{{action.value}}" type="submit" name="action" class="btn btn-info"
              %span#action-fillings
                -block action_fillings

      -block filters
        -if __filters__
          %div class="{{ __css_classes__.filters_class }} span2"
            %h4 << {{ _("过滤条件") }}
            %hr
            %form
              %fieldset.pagination-centered
                -for filter in __filters__
                  .control-group
                    %label.control-label 
                      {{ filter.label }}
                      %i << &nbsp;{{ filter.op.name }}&nbsp;&nbsp;
                    .controls
                      -if filter.options
                        %select name="{{ filter.op.id }}" class="input-medium" 
                          -for opt in filter.options:
                            %option value={{opt[0]}} << {{ opt[1] }}
                      -else
                        %input type="{{ filter.input_type }}" name="{{ filter.op.id }}" class="{{ __css_classes__[filter.input_class] }}" min=0 placeholder="{{ _("请输入") + filter.label }}"
              %hr
              .control-group.pagination-centered
                .controls
                  %input.btn.btn-primary type="submit" value={{ _("刷新结果") }}
                  %input.btn.btn-danger type="reset" value={{ _("重置") }} id="reset-button"
