-extends "__data_browser__/layout.haml"

-block body
  
  -block filters
    %div class="{{ __css_classes__.filters_class }}"
      -if __filters__
        %form.ym-inline
          -for filter in __filters__
            %span.ym-fbox-text.ym-gbox
              %strong << {{ filter.label }}
              %i << &nbsp;{{ filter.op.name }}&nbsp;&nbsp;
              %input type="{{ filter.input_type }}" name="{{ filter.op.id }}" value="{{ filter.value }}" class="{{ __css_classes__[filter.input_class] }}"
          %input.ym-button type="submit" value={{ _("刷新结果") }}

  -block rows
    %table.bordertable.narrow
      %thead
        %tr
          -if __actions__
            %th -> %input type="checkbox" name="rowtoggle"
          -for c in __list_columns__
            %th title={% if c.doc %} {{c.doc}} {% endif %}
              -if c.sort_url
                %a href="{{ c.sort_url }}"
                  {{ c.label }}
                  -if __order_by__(c.name) 
                    -if __desc__
                      %i class="icon-chevron-down"
                    -else
                      %i class="icon-chevron-up"
              -else
                {{ c.label }}
      %tbody
        -for row in __data__
          %tr
          -if __actions__
            %td -> %input type="checkbox" value="{{ row.pk }}"
          -for v in row.fields:
            %td -> {{ v }}
    
    %a.ym-add.ym-button.success href="{{ __create_url__ }}" << {{ _("新建") }}
