-extends "__data_browser__/layout.haml"


-block custom_external

 %script
   $(function(){
     $("input[name=rowtoggle]").click(function () {
       if ($(this).attr('checked')) {
         $("#list-table tbody input[type=checkbox]").attr("checked", "checked");
       } else {
         $("#list-table tbody input[type=checkbox]").removeAttr("checked");
       }
     });
     $("input[name=action]").click(function(){
      if($("#list-table tbody input[type=checkbox]:checked").val() == undefined){
        alert("{{ _("请至少选择一条记录！") }}");
        return false;
        }
     });
   });

-block body
  
  .container-fluid
    .row-fluid
      -block lists
        %form.span10 method="POST" 
          %a.btn.btn-success href="{{ __object_url__ }}" 
            %span.add-on.icon-plus
            {{ _("新建") }}
          -if __data__
            %table#list-table class="{{ __css_classes__.list_table_class }}"
              %thead
                %tr.row-fluid
                  -if __actions__
                    %th.span1 -> %input type="checkbox" name="rowtoggle"
                  -for c in __list_columns__
                    %th title={% if c.doc %} {{c.doc}} {% endif %}
                      -if c.sort_url
                        %a href="{{ c.sort_url }}"
                          {{ c.label }}
                          -if __order_by__(c.name) 
                            -if __desc__
                              %i class="icon-chevron-down"
                            -else
                              %i class="icon-chevron-up"
                      -else
                        {{ c.label }}
              %tbody
                -for row in __data__
                  %tr.row-fluid
                    -if __actions__
                      %td.span1 -> %input type="checkbox" value="{{ row.pk }}" name="selected-ids"
                    -for v in row.fields:
                      -if v.link
                        %td -> %a href="{{ v.link }}" << {{ v.value }}
                      -else
                        %td << {{ v }}
          -else
            %p.text-error << {{ _("没有符合条件的结果") }}

          -from "__data_browser__/lib.haml" import render_pagination 
          {{ render_pagination(__pagination__) }}

          -block actions
            .alert.alert-block
              -for action in __actions__:
                %input value="{{action.value}}" type="submit" name="action" class="btn btn-info"

      -block filters

        %div class="{{ __css_classes__.filters_class }} span2"
          %h4 << {{ _("过滤条件") }}
          %hr
          -if __filters__
            %form
              %fieldset.pagination-centered
                -for filter in __filters__
                  .control-group
                    %label.control-label 
                      {{ filter.label }}
                      %i << &nbsp;{{ filter.op.name }}&nbsp;&nbsp;
                    .controls
                      -if filter.options
                        %select name="{{ filter.op.id }}" class="input-medium" 
                          -for opt in filter.options:
                            %option value={{opt[0]}} {% if opt[0]|string == filter.value|string %}selected{% endif %} << {{ opt[1] }}
                      -else
                        %input type="{{ filter.input_type }}" name="{{ filter.op.id }}" value="{{ filter.value }}" class="{{ __css_classes__[filter.input_class] }}" min=0 placeholder="{{ _("请输入") + filter.label }}"
              %hr
              .control-group.pagination-centered
                .controls
                  %input.btn.btn-primary type="submit" value={{ _("刷新结果") }}
      
