-extends "__data_browser__/layout.haml"

-block __data_browser__custom_external_block
  %script src="{{ url_for('__data_browser__.static', filename='js/sprintf-0.6.js') }}"

  %script

    $(function(){
      $("select").select2();
      -for filter in __filters__:
         $("[name='{{ filter.op.id }}']").val('{{ filter.value }}').trigger("change");
      $("input[name=rowtoggle]").click(function () {
        if ($(this).attr('checked')) {
          $("#list-table tbody input[type=checkbox]").attr("checked", "checked");
        } else {
          $("#list-table tbody input[type=checkbox]").removeAttr("checked");
        }
      });
      $("#main-form #actions input[name=action]").click(function(){
          var list_val = "";
          $("#list-table tbody input[type=checkbox]:checked").each(function(){
            list_val += $(this).val() +",";
          });
          if (list_val == ""){
              alert("{{ _("请至少选择一条记录！") }}");
              return false;
          }
          if ($(this).val() == "{{ _('批量修改') }}"){
              $("#main-form").attr("method", "GET");
              $("#main-form").attr("action", "{{ __object_url__ }}/"+ list_val);
              return true;
          }
          return confirm("您确认要" + $(this).val() + "选中的记录?");
      });
      $("#reset-button").click(function(){
       $("select").select2("val","");
      });
      setTimeout(function () {
          $("#flash").fadeOut("slow")
      }, 3000);
      -if __rows_action_desc__
        var rows_action_desc = {{ __rows_action_desc__|tojson|safe }}; // row -> (name: row.name, actions: action_name-> forbidden_code)
        var actions = {{ __action_2_forbidden_message_formats__ | tojson | safe }}; // action_name -> ()
        $("input[type='checkbox']").click(function () {
          var action_2_rows = {}; // action -> (forbidden_code -> [rows])
          $("#list-table tbody input[type=checkbox]:checked").each(function () {
            var model_repr = rows_action_desc[$(this).val()].name;
            var action_2_forbidden_code = rows_action_desc[$(this).val()].actions;
            for (var action_name in action_2_forbidden_code) {
              var forbidden_code = action_2_forbidden_code[action_name];
              if (forbidden_code == 0) {
                  continue;
              }
              if (!(action_name in action_2_rows)) {
                  action_2_rows[action_name] = new Array();
              }
              if (!(forbidden_code in action_2_rows[action_name])) {
                action_2_rows[action_name][forbidden_code] = new Array();
              }
              action_2_rows[action_name][forbidden_code].push(model_repr);
            }
          });
          $("input[name=action]").each(function () {
            var tooltip = "";
            if ($(this).val() in action_2_rows) {
              $(this).attr("disabled", true);
              var forbidden_code_2_rows = action_2_rows[$(this).val()];
              for (var forbidden_code in forbidden_code_2_rows) {
                var rows = forbidden_code_2_rows[forbidden_code];
                var format = actions[$(this).val()][forbidden_code];
                if (format == undefined) {
                    format = actions[$(this).val()][-1];
                }
                tooltip += sprintf(format, rows.toString()) + '\n';
              }
              tooltip = tooltip.substr(0, tooltip.length-1);
            } else {
              $(this).attr("disabled", false);
            }
            $(this).attr("title", tooltip);
          });
        });
    });


-block body
  
  .container-fluid
    .row-fluid
      -block lists
        %form.span10#main-form method="POST"
          -if __can_create__
            %a.btn.btn-success href="{{ "?url=".join([__object_url__, request.url|urlencode]) }}"
              %span.add-on.icon-plus
              {{ _("新建") }}
          -if __data__
            %table#list-table class="{{ __css_classes__.list_table_class }}"
              %thead
                %tr.row-fluid
                  -if __actions__
                    %th.span1 -> %input type="checkbox" name="rowtoggle"
                  -for c in __list_columns__
                    %th title={% if c.doc %} {{c.doc}} {% endif %}
                      -if c.sort_url
                        %a href="{{ c.sort_url }}"
                          {{ c.label }}
                          -if __order_by__(c.name) 
                            -if __desc__
                              %i class="icon-chevron-down"
                            -else
                              %i class="icon-chevron-up"
                      -else
                        {{ c.label }}
              %tbody
                -for row in __data__
                  %tr class="{{row.css}} row-fluid"
                    -if __actions__
                      %td.span1 -> %input type="checkbox" value="{{ row.pk }}" name="selected-ids"
                    -for v in row.fields:
                      -if v.link
                        %td -> %a href="{{ v.link }}" << {{ v.value }}
                      -else
                        %td << {{ v }}
          -else
            %p.text-error << {{ _("没有符合条件的结果") }}

          -from "__data_browser__/lib.haml" import render_pagination 
          {{ render_pagination(__pagination__, __count__) }}

          -block actions
            .alert.alert-block
              %input value="{{ request.url }}" type="hidden" name="url"
              %span#actions
                -for action in __actions__:
                  %input value="{{action.name}}" type="submit" name="action" class="btn btn-info"
              %span#action-fillings
                -block action_fillings

      -block filters
        -if __filters__
          %div class="{{ __css_classes__.filters_class }} span2"
            %h4 << {{ _("过滤条件") }}
            %hr
            %form
              %fieldset.pagination-centered
                -for filter in __filters__
                  .control-group
                    %label.control-label 
                      {{ filter.label }}
                      %i << &nbsp;{{ filter.op.name }}&nbsp;&nbsp;
                    .controls
                      -if filter.options
                        %select name="{{ filter.op.id }}" class="input-medium" 
                          -for opt in filter.options:
                            %option value={{opt[0]}} << {{ opt[1] }}
                      -else
                        %input type="{{ filter.input_type }}" name="{{ filter.op.id }}" class="{{ __css_classes__[filter.input_class] }}" min=0 placeholder="{{ _("请输入") + filter.label }}"
              %hr
              .control-group.pagination-centered
                .controls
                  %input.btn.btn-primary type="submit" value={{ _("刷新结果") }}
                  %input.btn.btn-danger type="reset" value={{ _("重置") }} id="reset-button"
