{% macro render_pagination(pagination, __count__, mobile) %}
  <div class="visible-sm visible-xs">
    <ul class="pager">
      {% if not pagination.has_prev %}
        <li class="disabled previous">
          <a href="#" title="{{ _("no previous page!") }}">
            <i class="fa fa-angle-double-left fa-3x"></i>
          </a>
        </li>
      {% else %}
        <li class="previous">
          <a href="{{ url_for_other_page(page=pagination.page - 1 if pagination.page > 1 else 1) }}">
            <i class="fa fa-angle-double-left fa-3x"></i>
          </a>
        </li>
      {% endif %}
      <li class="active">
        <a href="{{ url_for_other_page(page=pagination.page) }}">
          <span class="fa-2x" style="font-size:31px">{{ pagination.page }}</span>
        </a>
      </li>
      {% if not pagination.has_next %}
        <li class="disabled next" title="{{ _("no more pages!") }}">
          <a href="#">
            <i class="fa fa-angle-double-right fa-3x"></i>
          </a>
        </li>
      {% else %}
        <li class="next">
          <a href="{{ url_for_other_page(page=pagination.page + 1) }}">
            <i class="fa fa-angle-double-right fa-3x"></i>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>


  <div class="visible-lg visible-md text-center">
    <ul class="pagination">
      {% if not pagination.has_prev %}
        <li class="disabled previous">
          <a href="#" title="{{ _("no previous page!") }}">
            {{ _("prev") }}
          </a>
        </li>
      {% else %}
        <li class="previous">
          <a href="{{ url_for_other_page(page=pagination.page - 1 if pagination.page > 1 else 1) }}">
            {{ _("prev") }}
          </a>
        </li>
      {% endif %}
      {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page == pagination.page %}
            <li class="active">
              <a href="#">{{ page }}</a>
            </li>
          {% else %}
            <li>
              <a href="{{ url_for_other_page(page=page) }}">{{ page }}</a>
            </li>
          {% endif %}
        {% else %}
          <li class="disabled"><a>...</a></li>
        {% endif %}
      {% endfor %}
      {% if __count__ %}
        <li class="disabled">
          <a>{{ gettext("totally matched records: %(count)d", count=__count__) }}</a>
        </li>
      {% endif %}
      {% if not pagination.has_next %}
        <li class="disabled next" title="{{ _("no more pages!") }}">
          <a href="#">
            {{ gettext("next") }}
          </a>
        </li>
      {% else %}
        <li class="next">
          <a href="{{ url_for_other_page(page=pagination.page + 1) }}">
            {{ gettext("next") }}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endmacro %}
{% macro render_form_fields(form, focus_set=False, current_step=None) %}
  {{ form.hidden_tag() if form.hidden_tag is defined }}
  {% if fieldset_list|length == 1 %}
    {% set fieldset, fields = fieldset_list[0] %}
    <fieldset>
      {% if fieldset %}
        <legend>{% if current_step is not none %}{{ gettext('Step %(step)d', step=current_step + 1) }}
          : {% endif %}{{ fieldset }}</legend>
      {% endif %}
      {{ render_fields(fields) }}
    </fieldset>
  {% else %}
    <div class="panel-group" id="accordion_div">
      {% for fieldset, fields in fieldset_list %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" href="#collapse_{{ loop.index }}">
                {{ fieldset }}
                <i class="fa fa-chevron-down" id="collapse_{{ loop.index }}_notation" data-role="fieldset-notation"></i>
              </a>
            </h3>
          </div>
          <div id="collapse_{{ loop.index }}" class="panel-collapse collapse in" data-role="fieldset-body">
            <div class="panel-body">
              {{ render_fields(fields) }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
{% macro render_fields(fields) %}
  {% for f in fields if f.type != 'HiddenField' and f.type != 'CSRFTokenField' %}
    <div class="form-group{{ ' error' if f.errors }}">
      {% if f.label.text %}
        <label class="control-label col-lg-2" for="{{ f.id }}">
          {{ f.label.text }}
          {% if not f.__read_only__ and h.is_required_form_field(f) %}
            <strong style="color: red">&#42;</strong>
          {% else %}
            &nbsp;
          {% endif %}
        </label>
      {% else %}
        {% if not f.__read_only__ and h.is_required_form_field(f) %}
          <strong style="color: red">&#42;</strong>
        {% else %}
          &nbsp;
        {% endif %}
      {% endif %}
      <div class="{{ f.form_width_class }}">
        {% if h.is_batch_edit() %}
          {% if h.is_required_form_field(f) %}
            {% if h.is_unique_form_field(f) %}
              {{ f(disabled=True, value=_("unique field, can't be modified"))|safe }}
            {% elif not focus_set %}
              {{ f(autofocus='autofocus', disabled=True, required=True)|safe }}
              {% set focus_set = True %}
            {% else %}
              {{ f(disabled=True, required=True)|safe }}
            {% endif %}
          {% else %}
            {% if h.is_unique_form_field(f) %}
              {{ f(disabled=True, value=_("unique field, can't be modified"))|safe }}
            {% elif not focus_set %}
              {{ f(autofocus='autofocus', disabled=True)|safe }}
              {% set focus_set = True %}
            {% else %}
              {{ f(disabled=True)|safe }}
            {% endif %}
          {% endif %}
          {% if not __read_only__ and not h.is_unique_form_field(f) %}
            <div class="checkbox">
              <label>
                <input type="checkbox" data-role="hold_value" name="hold-value-{{ f.name }}" checked="checked">
                {{ _("keep unchanged") }}
              </label>
            </div>
          {% endif %}
        {% else %}
          {% if __read_only__ %}
            {{ f(disabled=True)|safe }}
          {% else %}
            {% if not focus_set %}
              {% if h.is_required_form_field(f) %}
                {{ f(autofocus='autofocus', required=True)|safe }}
              {% else %}
                {{ f(autofocus='autofocus')|safe }}
              {% endif %}
              {% set focus_set = True %}
            {% else %}
              {% if h.is_required_form_field(f) %}
                {{ f(required=True)|safe }}
              {% else %}
                {{ f()|safe }}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if f.errors %}
          <span class="alert alert-danger">{{ f.errors|join("; ") }}</span>
        {% endif %}

        {% if f.description %}
          <span class="help-block">* <i class="text-info">{{ f.description }}</i></span>
        {% endif %}
      </div>
      {% if not f.__read_only__ and f.name in create_url_map %}
        <a href="{{ create_url_map[f.name] }}" data-role="new-related-obj" data-target="{{ f.name }}" class="btn btn-primary">{{ _("create") }}</a>
      {% endif %}
    </div>
  {% endfor %}
{% endmacro %}

{% macro form_tag() %}
  <form action="" method="POST" class="form-horizontal" role="form"
      {% if form.has_file_field %} enctype="multipart/form-data"{% endif %}>
    {{ caller() }}
  </form>
{% endmacro %}

{% macro create() %}
  <button name="__builtin_action__" type="submit" class="btn btn-default">{{ _('add another') }}</button>
{% endmacro %}

{% macro render_form_buttons(cancel_url, extra=None, last_step=None, next_step=None) %}
  {% if last_step or next_step %}
    <div class='row'>
      <div class="col-lg-6">
        {% if last_step %}
          <div class='pull-left'>
            <a href="{{ last_step.url }}" class='btn btn-default'>
              <i class="fa fa-step-backward"></i>&nbsp;{{ _('Last step') }}: {{ last_step.name }}
            </a>
          </div>
        {% elif last_step is defined and last_step is not none or (next_step is defined and next_step is not none) %}
          <a class="btn btn-default" href='{{ cancel_url }}'>{{ _('back') }}</a>
        {% endif %}
        {% if next_step %}
          <div class='pull-right'>
            <button data-target="{{ next_step.url }}" class='btn btn-default' data-role='next-step'>{{ _('Next step') }}: {{ next_step.name }}
              <i class="fa fa-step-forward"></i></button>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="navbar navbar-default navbar-fixed-bottom navbar-inverse" id="footer-action-bar" role="navigation">
    <div>
      {% if g.request_from_mobile and not next_step %}
        <ul class="nav navbar-nav" id="actions">
          <button id="submit-btn" name="__builtin_action__" type="submit" class="btn btn-primary btn-lg navbar-btn" >{{ _('commit') }}</button>
          <button id="reset-btn" type="reset" class="btn btn-danger btn-lg navbar-btn">{{ _('reset') }}</button>
          {% if cancel_url %}
            <a class="btn navbar-btn btn-default btn-lg" href="{{ cancel_url }}">{{ _("back") }}</a>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class="dropup btn-group">
            <button class="btn dropdown-toggle navbar-btn" data-toggle="dropdown" type="button">
              <i class="fa fa-reorder fa-2x"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              {% for action in actions %}
                <li>
                  <button type="submit" name="__action__" class="{{ action.css_class }}" data-warn="{{ action.warn_msg }}" data-direct="{{ action.direct }}" value="{{ action.name }}">{{ action.name }}</button>
                </li>
              {% endfor %}
            </ul>
          </div>
        </ul>
      {% else %}
        {% if next_step is undefined or next_step is none %}
          <div data-role="trivial-control-group">
            {% if not __read_only__ %}
              <button id="submit-btn" name="__builtin_action__" class="btn btn-primary">{{ _('commit') }}</button>
              <button id="reset-btn" type="reset" class="btn btn-danger">{{ _('reset') }}</button>
            {% endif %}
            {% if cancel_url %}
              <a href="{{ cancel_url }}" class="btn btn-default">{{ _('back') }}</a>
            {% endif %}
          </div>
          {% if extra =="create" or actions %}
            <div data-role="customized-control-group">
              {% if extra == "create" %}
                {{ create() }}
              {% else %}
                {% for action in actions %}
                  <button name="__action__" type="submit" name="action" class="{{ action.css_class }}" data-direct="{{ action.direct }}" value="{{ action.name }}">{{ action.name }}</button>
                {% endfor %}
              {% endif %}
            </div>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro render_previous_steps_info(previous_steps_info) %}
  <div class='alert alert-success'>
    <h5>{{ _("Fields already filled") }}</h5>
    <ul>
      {% for k, v in previous_steps_info %}
        <li>
          <small><i>{{ k }} - {{ v }}</i></small>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro render_form(form, cancel_url, extra=None, last_step=None, next_step=None, previous_steps_info=None) -%}
  {% call form_tag() %}
    {% if last_step is not none or next_step is not none %}
      {% set current_step = request.args.get('__step__', 0)|int %}
    {% else %}
      {% set current_step = None %}
    {% endif %}
    {{ render_form_fields(form, current_step=current_step) }}
    {% if previous_steps_info %}{{ render_previous_steps_info(previous_steps_info=previous_steps_info) }}{% endif %}
    {{ render_form_buttons(cancel_url, extra, last_step, next_step) }}
  {% endcall %}
{% endmacro %}

