{% macro render_pagination(pagination, __count__) %}
  <div class="pagination">
    <ul>
      {% if not pagination.has_prev %}
        <li class="disabled">
          <a>{{ _("prev") }}</a>
        </li>
      {% else %}
        <li>
          <a href="{{ url_for_other_page(page=pagination.page - 1 if pagination.page > 1 else 1) }}">{{ _("prev") }}</a>
        </li>
      {% endif %}
      {% for page in pagination.iter_pages() %}
        {% if page %}
          <li class="{% if page == pagination.page %}active{% endif %}">
            <a href="{{ url_for_other_page(page=page) }}">{{ page }}</a>
          </li>
        {% else %}
          <li class="disabled"><a>...</a></li>
        {% endif %}
      {% endfor %}
      {% if __count__ %}
        <li class="disabled">
          <a>{{ _("totally matched records: %(count)d", count=__count__) }}</a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endmacro %}
{% macro render_form_fields(form, focus_set=False) %}
    {{ form.hidden_tag() if form.hidden_tag is defined }}

    {% for fieldset, fields in form|groupby("fieldset") %}
    <fieldset>
      {% if fieldset %}
        <legend>{{fieldset}}</legend>
      {% endif %}
      {% for f in fields if f.type != 'HiddenField' and f.type != 'CSRFTokenField' %}
        <div class="control-group{{ ' error' if f.errors }}">
            <div class="control-label">
                <strong>{{ f.label.text }}</strong>
                {% if f.type != 'ReadOnlyField' and h.is_required_form_field(f) %}
                    <strong style="color: red">&#42;</strong>
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
            {% if h.is_batch_edit() %}
                <script type="text/javascript">
                    $(function () {
                        $("[name=hold_value]").click(function () {
                            if (this.checked) {
                                $(this).parent("div").children("select").select2("disable");
                                $(this).parent("div").children().not($(this)).attr("disabled", true);
                            } else {
                                $(this).parent("div").children("select").select2("enable").attr("disabled", false);
                                $(this).parent("div").children().not($(this)).attr("disabled", false);
                            }
                        });
                    })
                </script>
            {% endif %}
            <div class="controls">
                <div>
                    {% if h.is_batch_edit() %}
                        {% if h.is_disabled_form_field(f) %}
                            {{ f(disabled=True, value=_("unique field, can't be modified"))|safe }}
                        {% elif not focus_set %}
                            {{ f(autofocus='autofocus', disabled=True)|safe }}
                            <input type="checkbox" name="hold_value" id=""
                            checked="checked">{{ _("keep unchanged") }}
                            {% set focus_set = True %}
                        {% else %}
                            {{ f(disabled=True)|safe }}
                            <input type="checkbox" name="hold_value" id=""
                              checked="checked">{{ _("keep unchanged") }}
                        {% endif %}
                    {% else %}
                        {% if not focus_set %}
                            {{ f(autofocus='autofocus')|safe }}
                            {% set focus_set = True %}
                        {% else %}
                            {{ f()|safe }}
                        {% endif %}
                        {% if f.name in create_url_map %}
                        <a href="{{ create_url_map[f.name] }}" class="btn btn-primary">{{ _("create") }}</a>
                        {% endif %}
                    {% endif %}
                    {% if f.description %}
                      <span class="help-inline">* <i class="text-info">{{ f.description }}</i></span>
                    {% endif %}
                </div>
                {% if f.errors %}
                    <ul>
                        {% for e in f.errors if e is string %}
                            <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
      {% endfor %}
    </fieldset>
    {% endfor %}
{% endmacro %}

{% macro form_tag() %}
    <form action="" method="POST" class="form-horizontal"{% if form.has_file_field %} enctype="multipart/form-data"{% endif %}>
      {{ caller() }}
    </form>
{% endmacro %}

{% macro create() %}
    <input name="_add_another" type="submit" class="btn btn-large" value="{{ _('add another') }}" />
{% endmacro %}

{% macro render_form_buttons(cancel_url, extra=None) %}
    <div class="control-group">
        <div class="controls">
            <input id="submit-btn" name="action" type="submit" class="btn btn-primary btn-large" value="{{ _('commit') }}" disabled="disabled" title="{{ _("no changes made, can't submit!") }}"/>
            <input id="reset-btn" type="reset" class="btn btn-primary btn-large" value="{{ _('reset') }}" />
            {% if cancel_url %}
                <a href="{{ cancel_url }}" class="btn btn-large">{{ _('back') }}</a>
            {% endif %}
            {% if extra == "create" %}
                {{ create() }}
            {% else %}
              {% for action in actions %}
              <input name="action" value="{{action.name}}" type="submit" name="action" class="{{action.css_class}} btn-large"/>
              {% endfor %}
            {% endif %}

        </div>
    </div>
{% endmacro %}

{% macro render_form(form, cancel_url, extra=None) -%}
    {% call form_tag() %}
        {{ render_form_fields(form) }}
        {{ render_form_buttons(cancel_url, extra) }}
    {% endcall %}
{% endmacro %}

