%html

  %head
    %link href="{{ url_for('__data_browser__.static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet" media="screen"
    %link href="{{ url_for('__data_browser__.static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" media="screen"
    %script src="{{ url_for('__data_browser__.static', filename='js/jquery-1.8.2.min.js') }}"
    %script src="{{ url_for('__data_browser__.static', filename='bootstrap/js/bootstrap.min.js')}}"
    %script src="{{ url_for('__data_browser__.static', filename='js/jsuri-1.1.1.min.js') }}"
    %script
      $(function () {
        $("#my-modal").modal({"show": true})
        $("[data-role=close-btn]").click(function () {
            $("#my-modal").modal("hide"); 
            var uri = new Uri(window.opener.location.href);
            uri.replaceQueryParam('{{ target }}', '{{ obj_pk }}');
            window.opener.location = uri.toString();
            window.close();
        });
      });
      
  %body
    #my-modal.modal.hide.fade
      .modal-header -> %h3 << {{ _("congratulations") }}!
      .modal-body << {{ _("you have created %(model_cls)s %(obj)s successfully!", model_cls=model_cls, obj=obj) }}
      .modal-footer -> %a.btn href="#" data-role="close-btn" << {{ _("I see") }}

