/* Form customizations */
html, body { 
    height: 100%;
}

form.icon {
    display: inline;
}

form.icon button {
    border: none;
    background: transparent;
    text-decoration: none;
    padding: 0;
    line-height: normal;
}


a.icon {
    text-decoration: none;
}

/* Model search form */
form.search-form {
    margin: 4px 0 0 0;
}

form.search-form a.clear i {
    margin: 2px 0 0 0;
}

/* Filters */
.filter-row {
    margin: 4px;
}

.filter-row a, .filter-row select {
    margin-right: 4px;
}

.filter-row input
{
    margin-bottom: 0px;
    width: 208px;
}

.filter-row .remove-filter
{
    vertical-align: middle;
}

.filter-row .remove-filter .close-icon
{
    font-size: 16px;
}

.filter-row .remove-filter .close-icon:hover
{
    color: black;
    opacity: 0.4;
}

/* Inline forms */
.fa-inline-field {
    padding-bottom: 0.5em;
}

.fa-inline-field-control {
    float: right;
}


/* Patch Select2 */
.select2-results li {
    min-height: 24px !important;
}

ul.select2-choices {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px; /* css 3标准 */
    -moz-border-radius: 5px;  /* mozilla */
    -webkit-border-radius: 5px;  /* webkit */
}

.controls span.control-text {
    float: left;
    padding-top: 5px;
}

.controls a.control-text {
    float: left;
    padding-top: 5px;
}


legend {
    margin-bottom: 0px;
}
[data-role="trivial-control-group"] {
    display: inline-block;
    border: 3px solid #FFF2A3;
    padding: 6px;
    border-radius: 8px;
}
[data-role="customized-control-group"] {
    display: inline-block;
    margin-left: 2em;
    border: 3px solid #FFF2A3;
    padding: 6px;
    border-radius: 8px;
}
.navbar-fixed-bottom {
    opacity: 0.8;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-fixed-bottom div {
    text-align: center;
    opacity: 1.0;
}

legend i[data-role="fieldset-notation"] {
    vertical-align: middle;
}

table td .accordion-inner {
    padding: 0;
    text-align: center;
}

#main-form .checkbox {
    margin-bottom: 0;
}

body {
    padding-bottom: 30px;
}

/*#main-form .nav-stacked li {*/
  /*border: 1px solid #DDDDDD;*/
  /*padding: 15px 5px;*/
/*}*/

#main-form .navbar-fixed-bottom {
    text-align: center;
}


#list-table-body {
    min-width: 60%;
}
#list-table-body li a {
    font-size: 1.5em;
    text-decoration: none;
    padding: 0px;
}
#list-table-body li i {
    padding: 20px 20px;
}

#footer-action-bar {
    margin-left: 0px;
    margin-right: 0px;
}
#footer-action-bar .navbar {
    margin-bottom: 0;
}
#footer-action-bar .collapse {
    text-align: right;
    margin-bottom: 0;
}
#footer-action-bar .dropdown-menu {
    margin: 0;
    padding: 0;
}
#footer-action-bar .dropdown-menu li, #footer-action-bar .dropdown-menu li input {
    width: 100%;
}
#footer-action-bar .dropdown-menu li input {
    border: 1px solid #ecf0f1;
}
#footer-action-bar {
    margin-right: 0;
    margin-bottom: 0;
}

#create-btn {
    margin-bottom: 5px;
}

.icon-check-empty {
    color: #DCE4EC;
    cursor: pointer;
}

.icon-check {
    color: #1abc9c;
    cursor: pointer;
}
